
<%# blocks for govuk_admin_template %>
<% content_for :page_title do %>GOV.UK admin prototype<% end %>

<% content_for :content do %>

<div class="row">
  <section class="col-md-8">
    <h1>Create detailed guide</h1>
    <div class="format-advice">
      <p><strong>Use this format for:</strong> Guidance for professional or specialist users so that they can complete a defined task.</p>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs add-bottom-margin">
        <li class="active"><a href="/">Document</a></li>
      </ul>

      <div class="tab-content">
        <form class="edition-form js-edition-form" id="new_edition" enctype="multipart/form-data" action="/government/admin/detailed-guides" accept-charset="UTF-8" method="post">

          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="7i/VqKpcfLo9veikUdn72SaumLVHKyyQzq3xvswTwAUguVb1CmydWyq0hteE+4QoqNh4WKXp3J8yQ/PySWz0jA==" />

          <fieldset>
            <input type="hidden" value="0" name="edition[lock_version]" id="edition_lock_version" />
            <div class="form-group">
              <label class="required" for="edition_title">Title<span>*</span></label>
              <input class="form-control" type="text" name="edition[title]" id="edition_title" />
            </div>

            <p class="title-length-info">Title text should be 65 characters or fewer and the slug will be truncated past 150. <span class="count"></span></p>

            <div class="form-group">
              <label class="required" for="edition_summary">Summary<span>*</span></label>
              <textarea rows="2" class="js-summary-length-counting form-control" data-count-message-threshold="140" data-count-message-selector=".summary-length-info" name="edition[summary]" id="edition_summary"></textarea>
            </div>

            <p class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></p>

            <div class="form-group">
              <label class="required" for="edition_body">Body<span>*</span></label>
              <textarea class="previewable form-control" rows="20" cols="9000" name="edition[body]" id="edition_body"></textarea>
            </div>
          </fieldset>

          <fieldset class="first-published-date well show-hide">
            <p class="required">This document <span>*</span></p>
            <div class="radio">
              <label class="radio" for="edition_previously_published_false">
                <input type="radio" value="false" name="edition[previously_published]" id="edition_previously_published_false" />
                has never been published before. It's new.
              </label>
            </div>
            <div class="radio">
              <label class="radio" for="edition_previously_published_true" data-target="js-show-first-published">
                <input type="radio" value="true" name="edition[previously_published]" id="edition_previously_published_true" />
                has previously been published on another website.
              </label>
            </div>

            <div class="js-show-first-published show-first-published js-hidden" id="js-show-first-published">
              <fieldset>
                <p for="edition_first_published_at">Its original publication date was</p>

                <div class="form-inline form-date">
                  <label for="publication-day" class="visuallyhidden">Day</label>
                  <input type="text" name="publication-day" id="publication-day" class="form-day form-control">

                  <label for="publication-month" class="visuallyhidden">Month</label>
                  <input type="text" name="publication-month" id="publication-month" class="form-month form-control">

                  <label for="publication-year" class="visuallyhidden">Year</label>
                  <input type="text" name="publication-year" id="publication-year" class="form-year form-control">
                  —
                  <label for="publication-hour" class="visuallyhidden">Hour</label>
                  <input type="text" name="publication-hour" id="publication-hour" class="form-hour form-control">
                  :
                  <label for="publication-minute" class="visuallyhidden">Minute</label>
                  <input type="text" name="publication-minute" id="publication-minute" class="form-minute form-control">
                </div>
              </fieldset>
            </div>
          </fieldset>

          <fieldset class="images multiple_file_uploads panel-group" id="image-fields">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="">
                <legend class="panel-title" id="images-heading">
                  <a role="button" data-toggle="collapse" data-parent="#image-fields" href="#image-fields-panel" aria-expanded="true" aria-controls="image-fields-panel">Images</a>
                </legend>
              </div>

              <div id="image-fields-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="image-fields-heading">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="edition_images_attributes_0_image_data_attributes_file">File</label>
                    <input class="js-upload-image-input" type="file" name="edition[images_attributes][0][image_data_attributes][file]" id="edition_images_attributes_0_image_data_attributes_file" />
                    <input type="hidden" name="edition[images_attributes][0][image_data_attributes][file_cache]" id="edition_images_attributes_0_image_data_attributes_file_cache" />
                  </div>
                  <div class="form-group">
                    <label for="edition_images_attributes_0_alt_text">Alt text</label>
                    <input class="form-control" type="text" name="edition[images_attributes][0][alt_text]" id="edition_images_attributes_0_alt_text" />
                  </div>
                  <div class="form-group">
                    <label for="edition_images_attributes_0_caption">Caption</label>
                    <textarea rows="2" class="form-control" name="edition[images_attributes][0][caption]" id="edition_images_attributes_0_caption"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Associations</legend>

            <label for="edition_edition[lead_organisation_ids][]">Organisations</label>


            <select multiple="multiple" name="edition[lead_organisation_ids][]" id="edition_lead_organisation_ids_1" class="chzn-select form-control" data-placeholder="Choose organisations…">
              <option value=""></option>
              <% @organisations.each do |org| %>
              <option value="<%= org['slug'] %>"><%= org['title'] %></option>
              <% end %>
            </select>

            <label for="edition_related_detailed_guide_ids">Related guides</label>
            <input name="edition[related_detailed_guide_ids][]" type="hidden" value="" />
            <select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related detailed guides..." name="edition[related_detailed_guide_ids][]" id="edition_related_detailed_guide_ids">
              <option value="476374">16 to 18 education: free meals</option>
            </select>

            <label for="edition_related_mainstream_content_url">Related mainstream content</label>
            <select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related mainstream content..." name="edition[related_mainsteam_ids][]" id="edition_related_mainsteam_ids">
              <option value="476374">16 to 18 education: free meals</option>
            </select>
          </fieldset>

          <fieldset id="edition_attachment_fields" class="attachments">
            <legend>Attachments</legend>
            <p>
              You can add an attachment once you've saved this document. An 'Attachments' tab will appear at the top of the page.
            </p>
          </fieldset>

          <fieldset class="excluded_nations panel-group" id="excluded-nations">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="">
                <legend class="panel-title" id="excluded-nations-heading">
                  <a role="button" data-toggle="collapse" data-parent="#excluded-nations" href="#excluded-nations-panel" aria-expanded="true" aria-controls="excluded-nations-panel">Excluded nations</a>
                </legend>
              </div>

              <div id="excluded-nations-panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="excluded-nations-heading">
                <div class="panel-body">

                  <div class="nation control-group" id="nation_2">
                    <div class="control">
                      <div class="checkbox">
                        <label for="edition_nation_inapplicabilities_attributes_0_excluded" class="show-hide" data-target="alternative-url-scotland">
                          <input name="edition[nation_inapplicabilities_attributes][0][excluded]" type="hidden" value="0" />
                          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][0][excluded]" id="edition_nation_inapplicabilities_attributes_0_excluded" />Scotland
                        </label>
                      </div>
                    </div>
                    <div class="control js-hidden" id="alternative-url-scotland">
                      <div class="form-group">
                        <label for="edition_nation_inapplicabilities_attributes_0_alternative_url">Alternative url</label>
                        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][0][alternative_url]" id="edition_nation_inapplicabilities_attributes_0_alternative_url" />
                      </div>
                      <input type="hidden" value="2" name="edition[nation_inapplicabilities_attributes][0][nation_id]" id="edition_nation_inapplicabilities_attributes_0_nation_id" />
                    </div>
                  </div>

                  <div class="nation control-group" id="nation_3">
                    <div class="control">
                      <div class="checkbox">
                        <label for="edition_nation_inapplicabilities_attributes_1_excluded" class="show-hide" data-target="alternative-nation-wales">
                          <input name="edition[nation_inapplicabilities_attributes][1][excluded]" type="hidden" value="0" />
                          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][1][excluded]" id="edition_nation_inapplicabilities_attributes_1_excluded" />
                          Wales
                        </label>
                      </div>
                    </div>
                    <div class="control js-hidden" id="alternative-nation-wales">
                      <div class="form-group">
                        <label for="edition_nation_inapplicabilities_attributes_1_alternative_url">Alternative url</label>
                        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][1][alternative_url]" id="edition_nation_inapplicabilities_attributes_1_alternative_url" />
                      </div>
                      <input type="hidden" value="3" name="edition[nation_inapplicabilities_attributes][1][nation_id]" id="edition_nation_inapplicabilities_attributes_1_nation_id" />
                    </div>
                  </div>

                  <div class="nation control-group" id="nation_4">
                    <div class="control">
                      <div class="checkbox">
                        <label for="edition_nation_inapplicabilities_attributes_2_excluded" class="show-hide" data-target="alternative-nation-ni">
                          <input name="edition[nation_inapplicabilities_attributes][2][excluded]" type="hidden" value="0" />
                          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][2][excluded]" id="edition_nation_inapplicabilities_attributes_2_excluded" />
                          Northern Ireland
                        </label>
                      </div>
                    </div>
                    <div class="control js-hidden" id="alternative-nation-ni">
                      <div class="form-group">
                        <label for="edition_nation_inapplicabilities_attributes_2_alternative_url">Alternative url</label>
                        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][2][alternative_url]" id="edition_nation_inapplicabilities_attributes_2_alternative_url" />
                      </div>
                      <input type="hidden" value="4" name="edition[nation_inapplicabilities_attributes][2][nation_id]" id="edition_nation_inapplicabilities_attributes_2_nation_id" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Access limiting</legend>
            <div class="checkbox">
              <label for="edition_access_limited">
                <input name="edition[access_limited]" type="hidden" value="0" />
                <input type="checkbox" value="1" name="edition[access_limited]" id="edition_access_limited" />
                Limit access to producing organisations prior to publication
              </label>
            </div>
          </fieldset>

          <fieldset>
            <legend>Scheduled publication</legend>
            <input type="hidden" name="scheduled_publication_active" id="" value="0" />
            <div class="checkbox">
              <label class="checkbox show-hide" for="scheduled_publication_active" data-target="scheduled-publication-date">
                <input type="checkbox" name="scheduled_publication_active" id="scheduled_publication_active" value="1"
                /> Schedule for publication
              </label>
            </div>

            <div class="scheduled_publication js-hidden" id="scheduled-publication-date">
              <div class="form-inline form-date">
                <label for="scheduled-publication-day" class="visuallyhidden">Day</label>
                <input type="text" name="scheduled-publication-day" id="scheduled-publication-day" class="form-day form-control">

                <label for="scheduled-publication-month" class="visuallyhidden">Month</label>
                <input type="text" name="scheduled-publication-month" id="scheduled-publication-month" class="form-month form-control">

                <label for="scheduled-publication-year" class="visuallyhidden">Year</label>
                <input type="text" name="scheduled-publication-year" id="scheduled-publication-year" class="form-year form-control">
                —
                <label for="scheduled-publication-hour" class="visuallyhidden">Hour</label>
                <input type="text" name="scheduled-publication-hour" id="scheduled-publication-hour" class="form-hour form-control">
                :
                <label for="scheduled-publication-minute" class="visuallyhidden">Minute</label>
                <input type="text" name="scheduled-publication-minute" id="scheduled-publication-minute" class="form-minute form-control">
              </div>
            </div>
          </fieldset>

          <div class="publishing-controls well">
            <div class="form-actions">
              <a href="/tagging" class="btn btn-primary btn-lg">Save</a>
              <a href="#" class="btn btn-primary btn-lg">Save and continue</a>

              <span class="or_cancel"> or <a href="#">cancel</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<% end %>


<%= render :template => 'layouts/govuk_admin_template' %>
