<% content_for :page_title do %>Finding Things tagging prototype<% end %>

<h1>Finding Things tagging prototype</h1>

<h2>Current prototype</h2>

<ul>
  <li><a href="/publication">Create publication flow</a></li>
</ul>

<h2>Previous prototypes</h2>

<ul>
  <li><a href="http://govuk-ft-tagging-ur-2.herokuapp.com/">Version 2</a></li>
  <li><a href="http://govuk-ft-tagging-ur-1.herokuapp.com/">Version 1</a></li>
</ul>