<ul>
  <li><a href="/detailed_guide">Detailed guide</a></li>
  <li><a href="/publication">Publication</a></li>

  <li><a href="/detailed_guide?v=a">Detailed guide: Organisation tagging</a></li>
  <li><a href="/detailed_guide?v=b">Detailed guide: Policy tagging</a></li>
  <li><a href="/detailed_guide?v=e">Detailed guide: Minister/Organisation/Policy/Location tagging</a></li>

  <li><a href="/news_article?v=c">News article: Minister tagging</a></li>

  <li><a href="/publication?v=d">Publication: World locations tagging</a></li>
</ul>
