<fieldset>
  <legend>Access limiting</legend>
  <div class="checkbox">
    <label for="edition_access_limited">
      <input name="edition[access_limited]" type="hidden" value="0" />
      <input type="checkbox" value="1" name="edition[access_limited]" id="edition_access_limited" />
      Limit access to producing organisations prior to publication
    </label>
  </div>
</fieldset>