<div class="form-group">
  <label class="required" for="edition_body">Body<span>*</span></label>
  <textarea class="previewable form-control" rows="20" cols="9000" name="edition[body]" id="edition_body"></textarea>
</div>
