<div class="publishing-controls well">
  <div class="form-actions">
    <% if show_tagging_button %>
    <a href="/tagging" class="btn btn-primary btn-lg">Tag document</a>
    <% end %>
    <a href="#" class="btn btn-primary btn-lg">Save</a>
    <a href="#" class="btn btn-primary btn-lg">Save and continue</a>

    <span class="or_cancel"> or <a href="#">cancel</a></span>
  </div>
</div>
