<fieldset class="excluded_nations">
  <legend id="excluded-nations-heading">
    Excluded nations
  </legend>


  <div class="nation control-group" id="nation_2">
    <div class="control">
      <div class="checkbox">
        <label for="edition_nation_inapplicabilities_attributes_0_excluded" class="show-hide" data-target="alternative-url-scotland">
          <input name="edition[nation_inapplicabilities_attributes][0][excluded]" type="hidden" value="0" />
          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][0][excluded]" id="edition_nation_inapplicabilities_attributes_0_excluded" />Scotland
        </label>
      </div>
    </div>
    <div class="control js-hidden" id="alternative-url-scotland">
      <div class="form-group">
        <label for="edition_nation_inapplicabilities_attributes_0_alternative_url">Alternative url</label>
        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][0][alternative_url]" id="edition_nation_inapplicabilities_attributes_0_alternative_url" />
      </div>
      <input type="hidden" value="2" name="edition[nation_inapplicabilities_attributes][0][nation_id]" id="edition_nation_inapplicabilities_attributes_0_nation_id" />
    </div>
  </div>

  <div class="nation control-group" id="nation_3">
    <div class="control">
      <div class="checkbox">
        <label for="edition_nation_inapplicabilities_attributes_1_excluded" class="show-hide" data-target="alternative-nation-wales">
          <input name="edition[nation_inapplicabilities_attributes][1][excluded]" type="hidden" value="0" />
          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][1][excluded]" id="edition_nation_inapplicabilities_attributes_1_excluded" />
          Wales
        </label>
      </div>
    </div>
    <div class="control js-hidden" id="alternative-nation-wales">
      <div class="form-group">
        <label for="edition_nation_inapplicabilities_attributes_1_alternative_url">Alternative url</label>
        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][1][alternative_url]" id="edition_nation_inapplicabilities_attributes_1_alternative_url" />
      </div>
      <input type="hidden" value="3" name="edition[nation_inapplicabilities_attributes][1][nation_id]" id="edition_nation_inapplicabilities_attributes_1_nation_id" />
    </div>
  </div>

  <div class="nation control-group" id="nation_4">
    <div class="control">
      <div class="checkbox">
        <label for="edition_nation_inapplicabilities_attributes_2_excluded" class="show-hide" data-target="alternative-nation-ni">
          <input name="edition[nation_inapplicabilities_attributes][2][excluded]" type="hidden" value="0" />
          <input type="checkbox" value="1" name="edition[nation_inapplicabilities_attributes][2][excluded]" id="edition_nation_inapplicabilities_attributes_2_excluded" />
          Northern Ireland
        </label>
      </div>
    </div>
    <div class="control js-hidden" id="alternative-nation-ni">
      <div class="form-group">
        <label for="edition_nation_inapplicabilities_attributes_2_alternative_url">Alternative url</label>
        <input class="form-control" type="text" name="edition[nation_inapplicabilities_attributes][2][alternative_url]" id="edition_nation_inapplicabilities_attributes_2_alternative_url" />
      </div>
      <input type="hidden" value="4" name="edition[nation_inapplicabilities_attributes][2][nation_id]" id="edition_nation_inapplicabilities_attributes_2_nation_id" />
    </div>
  </div>

</fieldset>