
<div class="panel panel-default">
  <div class="panel-heading">
    <label for="edition_previously_published" data-target="js-show-first-published" class="show-hide"><input type="checkbox" name="edition_previously_published" value="true"> This document has been previously published on another website</label>
  </div>

  <div class="js-show-first-published show-first-published js-hidden panel-body" id="js-show-first-published">
    <fieldset>
      <p for="edition_first_published_at">Its original publication date was</p>

      <div class="form-inline form-date">
        <div class="form-group form-group-day">
          <label for="publication-day">Day</label>
          <input type="text" name="publication-day" id="publication-day" class="form-control">
        </div>

        <div class="form-group form-group-month">
          <label for="publication-month">Month</label>
          <input type="text" name="publication-month" id="publication-month" class="form-control">
        </div>

        <div class="form-group form-group-year form-group-spacer">
          <label for="publication-year">Year</label>
          <input type="text" name="publication-year" id="publication-year" class="form-control">
        </div>

        <div class="form-group form-group-hour">
          <label for="publication-hour">Hour</label>
          <input type="text" name="publication-hour" id="publication-hour" class="form-control">
        </div>

        <div class="form-group form-group-minute">
          <label for="publication-minute">Minute</label>
          <input type="text" name="publication-minute" id="publication-minute" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</div>