<div class="form-group">
  <label for="edition_need_ids">Maslow Need IDs (enter a comma-separated list)</label>
  <input placeholder="Enter a comma-separated list of Maslow Need IDs" value="" class="form-control" type="text" name="edition[need_ids]" id="edition_need_ids">
</div>