<div class="form-group">
  <label class="required" for="edition_publication_type_id">Publication type<span>*</span></label>

  <select class="chzn-select form-control js-access-limited-by-default-checkbox subtype" placeholder="Choose publication type…" id="edition_publication_type_id">
    <optgroup label="">
      <option value=""></option>
    </optgroup>
    <optgroup label="Common types">
      <option value="1">Policy paper</option>
      <option value="2">Impact assessment</option>
      <option value="3">Guidance</option>
      <option value="19">Statutory guidance</option>
      <option value="4">Form</option>
      <option value="5">Official Statistics</option>
      <option value="15">National Statistics</option>
      <option value="6">Research and analysis</option>
      <option value="7">Corporate report</option>
      <option value="17">Map</option>
    </optgroup>
    <optgroup label="Less common types">
      <option value="10">Transparency data</option>
      <option value="12">FOI release</option>
      <option value="14">Independent report</option>
      <option value="18">International treaty</option>
      <option value="20">Notice</option>
      <option value="21">Decision</option>
    </optgroup>
    <optgroup label="Use discouraged">
      <option value="8">Correspondence</option>
      <option value="13">Promotional material</option>
      <option value="22">Regulation</option>
    </optgroup>
  </select>
</div>