<label for="edition_related_detailed_guide_ids">Related guides</label>

<input name="edition[related_detailed_guide_ids][]" type="hidden" value="" />
<select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related detailed guides..." name="edition[related_detailed_guide_ids][]" id="edition_related_detailed_guide_ids">
  <option value="476374">16 to 18 education: free meals</option>
</select>