<label for="edition_related_mainstream_content_url">Related mainstream content</label>

<select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related mainstream content..." name="edition[related_mainsteam_ids][]" id="edition_related_mainsteam_ids">
  <option value="476374">16 to 18 education: free meals</option>
</select>