<label for="statistical_data_set">Statistical data set</label>

<select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related mainstream content..." name="edition[statistical_data_set][]" id="statistical_data_set">
  <option value="476374">16 to 18 education: free meals</option>
</select>