<div class="form-group">
  <label class="required" for="edition_summary">Summary<span>*</span></label>
  <textarea rows="2" class="js-summary-length-counting form-control" data-count-message-threshold="140" data-count-message-selector=".summary-length-info" name="edition[summary]" id="edition_summary"></textarea>
</div>

<p class="summary-length-info">Summary text should be 140 characters or fewer. <span class="count"></span></p>
