<ul class="nav nav-tabs add-bottom-margin">
  <li<% if request.original_fullpath == "/publication" %> class="active"<% end %>><a href="/publication">Document</a></li>
  <% if request.original_fullpath == "/publication/tagging" %><li class="active"><a href="/publication/tagging">Tagging</a></li><% end %>
</ul>