<label for="topical_event">Topical events</label>

<select multiple="multiple" class="chzn-select form-control" data-placeholder="Choose related mainstream content..." name="edition[topical_event][]" id="topical_event">
  <option value="476374">16 to 18 education: free meals</option>
</select>