<% content_for :content do %>

<div class="row<% if content_for?(:page_class) %> <%= yield(:page_class) %><% end %>">
  <section class="col-md-8">
    <%= yield(:main_column) %>
  </section>
  <div class="col-md-4<% if content_for?(:sidebar_class) %> <%= yield(:sidebar_class) %><% end %>">
    <%= yield(:sidebar) %>
  </div>
</div>

<% end %>
